@page
@model VismaE2interRPWDWEDN.Pages.AboutModel
@{
    ViewData["Title"] = "Om web-applikasjonen";
}

<div class="text-center">
    <h1 class="display-4">Om WDW-applikasjonen</h1>
    <p><h1>
    Lag en applikasjon hvor man kan registrere ansatte, stillinger og oppgaver. I applikasjonen
    skal man kunne finne ut hvilke ansatte som har de forskjellige oppgavene, dvs. “Hvem gjør
    hva?”
    I applikasjonen skal man kunne legge inn ansatte, stillinger og tildele oppgaver til den
    ansatte. En ansatt kan ha en eller flere ikke overlappende stillingsforhold og disse har en
    begrenset gyldighet. Dvs hvert stillingsforhold har en start og en sluttdato. I den perioden
    den ansatte har en stilling så kan han tildeles oppgaver. Man kan ikke få tildelt oppgaver i
    perioder der det ikke finnes stillingsforhold
</h1></p>
</div>