@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">WDW-Applikasjon</h1>
    <p>Nyttig info om ASP.NET <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
